In [4]:
import sqlite3

conn = sqlite3.connect("./database/database.db")
cur = conn.cursor()
sql = "DELETE FROM T車両台帳;"
cur.execute(sql)
conn.commit()
sql = """
    SELECT
    company_use_number,
    classification,
    maker,
    model_number,
    body_number,
    modelYear,
    car_size,
    load_capacity,
    specification,
    riding_capacity,
    fuel_type,
    update_date
    FROM TBase_Vehicle
    ORDER BY id;
    """
cur.execute(sql)
result = cur.fetchall()
i = 0
for c in result:
    i += 1
    sql = f"INSERT INTO T車両台帳 VALUES({i}, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);"
    cur.execute(sql, c)
    conn.commit()

In [ ]:
import sqlite3

conn = sqlite3.connect("database/database.db")
cur = conn.cursor()
sql = """
DELETE FROM T車両台帳 WHERE company_use_number = '123';
DELETE FROM T登録番号 WHERE company_use_number = '123';
DELETE FROM T車両履歴 WHERE company_use_number = '123';
"""
cur.executescript(sql)
conn.commit()

In [2]:
import sqlite3

# テーブルバックアップ
conn = sqlite3.connect("database/database.db")
cur = conn.cursor()
sql = """
    DELETE FROM TBK車両台帳;
    DELETE FROM TBK車両履歴;
    DELETE FROM TBK登録番号;
    INSERT INTO TBK車両台帳 SELECT * FROM T車両台帳;
    INSERT INTO TBK車両履歴 SELECT * FROM T車両履歴;
    INSERT INTO TBK登録番号 SELECT * FROM T登録番号;
    """
cur.executescript(sql)
conn.commit()

In [ ]:
import sqlite3

# バックアップデータ戻し
conn = sqlite3.connect("database/database.db")
cur = conn.cursor()
sql = """
    DELETE FROM T車両台帳;
    DELETE FROM T車両履歴;
    DELETE FROM T登録番号;
    INSERT INTO T車両台帳 SELECT * FROM TBK車両台帳;
    INSERT INTO T車両履歴 SELECT * FROM TBK車両履歴;
    INSERT INTO T登録番号 SELECT * FROM TBK登録番号;
    """
cur.executescript(sql)
conn.commit()